DATABASE_URL=postgresql://ia:ia@localhost:5432/ia_agent
GOOGLE_GENERATIVE_AI_API_KEY=
EVOLUTION_API_URL=https://evolution.lucasferrari.dev
EVOLUTION_INSTANCE=
EVOLUTION_API_KEY=
PORT=3001
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
